@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white relative min-h-screen;
  }

  /* Global Background */
  body::before {
    content: "";
    @apply absolute inset-0 bg-gradient-to-b from-purple-900/20 to-black/50 z-0;
    pointer-events: none; /* Disable interaction with background */
  }

  body::after {
    content: "";
    @apply absolute inset-0 bg-cover bg-center opacity-20 z-0;
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&q=80');
    pointer-events: none; /* Disable interaction with background */
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-900 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-800;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-color-change {
  background-size: 200% 200%;
  animation: colorChange 3s infinite;
}
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgb(255, 255, 255), -1em 0.5em rgba(108, 15, 179, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(162, 65, 237, 0.75), 0 0.5em rgba(108, 15, 179, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(108, 15, 179, 0.75), 1em 0.5em rgba(108, 15, 179, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(108, 15, 179, 0.75), -1em 0.5em rgba(108, 15, 179, 0.75);
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(108, 15, 179, 0.75) , -0.5em -1em rgb(255, 255, 255) ;
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(108, 15, 179, 0.75), -0.5em 0 rgba(108, 15, 179, 0.75) ;
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(108, 15, 179, 0.75), -0.5em 1em rgba(108, 15, 179, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(108, 15, 179, 0.75), -0.5em -1em rgba(146, 31, 235, 0.75);
  }
}